
@{
    ViewBag.Title = "BusinessLoanApplication";
    Layout = "~/Views/Shared/Customer.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Business Loan Application</h4>
            <p class="card-description">
                Fill Out Information Correctly
            </p>
            <form class="forms-sample" method="post" action="BusinessLoanApplication" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Business Annual Revenue</label>
                    <input type="text" class="form-control" name="AnnualRevenue" required id="exampleInputName1" placeholder="Annual Revenue">
                </div>
                
                <div class="form-group">
                    <label for="exampleInputPassword4">Requested Loan Amount</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-primary text-white">$</span>
                        </div>
                        <input type="text" name="loanAmount" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Requested Loan Amount">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Bank Statement</label>
                    <input type="file" name="BankStatementFile" required class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" name="BankStatement" class="form-control file-upload-info" disabled placeholder="Upload Recent Bank Statement">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Buisness Plan</label>
                    <input type="file" name="BuisnessPlanDOC" required class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" name="BuisnessPlan" class="form-control file-upload-info" disabled placeholder="Upload Recent Bank Statement">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>
               
                <div class="form-group">
                    <label>Govermennt ID</label>
                    <input type="file" name="GoverementIDFile" required class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" name="GoverementID" class="form-control file-upload-info" disabled placeholder="Upload Goverment ID">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">Collateral Name</label>
                    <input type="text" class="form-control" id="exampleInputCity1" required name="CollateralName" placeholder="Collateral Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Collateral Worth</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-primary text-white">$</span>
                        </div>
                        <input type="text" name="CollateralWorth" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Colleteral Worth">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Business License Document</label>
                    <input type="file" name="businesslicenseDoc" required class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" name="BuisnessLicencesDocuments" class="form-control file-upload-info" disabled placeholder="Upload Goverment ID">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleSelectGender">Bank Name</label>
                    <select class="form-control" id="exampleSelectGender" required name="BankName">
                        <option>---Select---</option>
                        <option>First Bank</option>
                        <option>Sky Bank</option>
                        <option>Gt Bank</option>
                        <option>Zenith Bank</option>
                        <option>UBA</option>
                        <option>FCMB</option>
                        <option>Microfinace Bank</option>
                        <option>Bank Of Africa</option>
                        <option>Providus Bank</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">Bank Account No</label>
                    <input type="text" class="form-control" id="exampleInputCity1" required name="bankAccount" placeholder="Bank Account">
                </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </form>
        </div>
    </div>
</div>

